{% extends "base.html" %}
{% block title %}Forex Convert Home Page{% endblock title %}

{% block content %}

<div class="flex flex-col items-center pt-8 h-screen bg-gray-400">
    <div class="text-center w-full max-w-lg mx-auto">
        <h1 class="text-4xl font-bold text-black">Forex Currency Converter</h1>
        <div class="mt-4">
            <h2 class="text-3xl font-bold text-black">
                Instructions:
            </h2>
            <h3 class="text-xl font-bold text-black">
                Enter the currency code below into the input and submit to see the current Bitcoin price.
            </h3>
            <h3 class="text-xl font-bold text-black">
                Use the Table link in the navigation bar (top) for resources to look up country currency codes.
            </h3>
            <div class="mt-8 w-full max-w-lg mx-auto">
                <form action="/convert" method="post" class="space-y-4 text-left">
                    <label for="from_curr" class="block text-lg font-bold">
                        Converting From:
                        <input 
                            id="from_curr"
                            type="text" 
                            name="from_curr" 
                            placeholder="USD"
                            class="w-full p-2 border border-gray-300 rounded"
                        >
                    </label>
                    <label for="to_curr" class="block text-lg font-bold">
                        Converting To:
                        <input 
                            id="to_curr"
                            type="text" 
                            name="to_curr" 
                            placeholder="GBP"
                            class="w-full p-2 border border-gray-300 rounded"
                        >
                    </label>
                    <label for="amount" class="block text-lg font-bold">
                        Amount:
                        <input 
                            id="amount"
                            type="number" 
                            name="amount" 
                            placeholder="50"
                            class="w-full p-2 border border-gray-300 rounded"
                        >
                    </label>
                    <button
                        class="mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded transition-colors duration-300 ease-in-out hover:bg-red-500 cursor-pointer"
                        type="submit"
                    >
                        Submit!
                    </button>
                </form>
                <img src="{{ url_for('static', filename='images/forex-chart-500px.jpg') }}" 
                     alt="Forex Chart"
                     class="mt-4 mx-auto pb-12">
            </div>
        </div>
    </div>
</div>

{% endblock content %}



